---
layout: post
title: Homepage
---

{{site.description}}

{% assign doclist = site.static_files | sort: 'modified_time' | reverse  %}
    <ul>
       {% for doc in doclist %}
            {% if doc.name contains '.html' %}
                <li><a href="{{ site.baseurl }}/{{ doc.name }}">{{ doc.basename }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% assign doclist = site.pages | sort: 'url'  %}
    <ul>
       {% for doc in doclist %}
            {% if doc.name contains '.md' or doc.name contains '.html' %}
                <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.url }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
